language: python

python:
  - "2.7"

env:
  global:
    - ARTIFACTS_AWS_REGION=us-east-1
    - ARTIFACTS_S3_BUCKET=pebb
    - secure: UIyjB2AJg8885XQae7tCrT0A0thWTkoc8Vm4z0W4BWiaMop7LirrJzOcrC5Q6MWqpEIJi1TJxgvVgwLetRKIWDKt8ji6Tnmk9qinu6qB/iuIfkQkrMo1SQym7dgxlMR7PIRJMRj05CtKBh6JQHczESOJ8DqIFG0I9HfC+cgSByI=
    - secure: gVceb9+vPqq9OC554THUWkMhWMNyru0LZCj05pt1c55ftxve7UNrflPbCtIbAhUFXgnQsANgNGd6H9//OLcLunO6tgRTkYa0g/CWlq7102CSUomCckDsUTZpLQc55+NKIrZlOR+k/U9erP14NCC2RytVKnvB9CSe0giFSe9+lD4=

 
env:
  - DB=sqlite DJANGO_VERSION=1.5.5 

# command to install dependencies
install:
  - pip install -r requirements.txt --use-mirrors

before_script:
# - psql -c 'create database mysitedb;' -U postgres
  - gem install travis-artifacts
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - python manage.py runserver &
  
# command to run tests
script: python manage.py test polls --liveserver=localhost:8081

#after_script:
#  - travis-artifacts upload --path hello.txt --target-path .

after_success:
#  - travis-artifacts upload --path *.png --target-path test
  - travis-artifacts upload --path *.png 
  - echo https://s3.amazonaws.com/pebb/artifacts/${TRAVIS_BUILD_NUMBER}/${TRAVIS_JOB_NUMBER}
