language: python
python:
- '2.7'
env:
  matrix:
  - DB=sqlite DJANGO_VERSION=1.5.5
  global:
  - secure: ATu5JOUhlqNfh8lyNQDw5RRWG2zP+lHLGJrD6dITVlhy/FMahiV8pmwa0jfx0ZPuSBNR9kC0iAsya8TQOoyjsJSLAIJNhQiCoaLaAKgKvMAPRj+0Uu4QGU8Wb6c+m+vFslZV3vDXZmnMUQLoTBcHp1CZyScvWcURINHwCn8DzEc=
  - secure: EndWvkmAoxriXynznw1EuBCdpvMysLkig8nJ0tnch1bg+snSIvuBJCrzBUHjlrALS2ir9OLEcQp765EGKSd/AhRTk88r7cd77oHPgkkphz+lfkXIQaWmMF3qwLusDCEy1FhOqFl2gCpN7DGSOeoaJYReqs+uXORvBxdd0Wm/J60=
install: 
before_script:
- echo foobar > foobar.txt
script: cat foobar.txt
after_success:
- travis-artifacts upload --path foobar.txt
- echo https://s3.amazonaws.com/pebb/artifacts/${TRAVIS_BUILD_NUMBER}/${TRAVIS_JOB_NUMBER}
